.env
/.vscode
backend-job-notifier/.env.docker
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
terraform/serial.log
backend-job-notifier/ruhuna.html
backend-job-notifier/ruhuna_category.html
